.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  fill: var(--primary);
  padding: 7px;
  border: 2px solid var(--primary);
  border-radius: 50%;

  &:active {
    background-color: var(--primary);
    fill: var(--secondary);
  }
  &--small {
    width: 40px;
    height: 40px;
  }
  &--plus {
    fill: var(--icon-plus);
  }
  &--minus {
    fill: var(--icon-minus);
    font-weight: bold;
  }
  &--shutdown {
    fill: var(--icon-minus);
    font-weight: bold;
  }
  &--stop {
    fill: var(--icon-stop);
    margin: 20px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-button);
  background-image: none;
  border: 2px solid var(--primary);
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  font-size: 22px;
  height: 60px;
  color: var(--secondary);
  margin: 5px 20px 10px 0px;
  padding: 5px 10px;

  &:active {
    background-color: var(--primary);
    fill: var(--secondary);
  }

  &--small {
    margin: 0;
    padding: 15px;
    height: 40px;
    font-size: 12px;
  }
}
